# Python
__pycache__/
*.py[cod]
.venv/
venv/
*.egg-info/

# Flutter / Dart
mobile/.dart_tool/
mobile/build/
mobile/.flutter-plugins
mobile/.flutter-plugins-dependencies
mobile/android/.gradle/
mobile/android/local.properties
mobile/ios/Pods/
mobile/ios/Flutter/Flutter.framework
*.iml

# Editors
.idea/
.vscode/

# OS
.DS_Store
Thumbs.db
